$body$
<div class="likebutton">
	<div class="socbuttons">
		<div class="twitter">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="$root$$url$" data-text="$title$" data-via="dimchansky" data-hashtags="$tags$">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="facebook">
			<iframe style="border: none; overflow: hidden; width: 135px; height: 20px;" src="http://www.facebook.com/plugins/like.php?href=$root$$url$&layout=button_count&show_faces=false&width=135&action=like&colorscheme=light&height=20" height="240" width="320" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="vkontakte"></div>
		<div class="google"></div>
	</div>
</div>